{%if page.url == "/category/" %} {% include nav.html %}
<div id="topics-selection">
  <button id="default" class="btn active" onclick="filterSelection('all')">
    All
  </button>
  {% for category in site.categories %}
  <button
    id="{{category[0]}}"
    class="btn"
    onclick="filterSelection('{{ category[0] }}')"
  >
    {{ category[0] }}
  </button>
  {% endfor %}
</div>
{% elsif page.url == "/about/" %} {% include nav.html %} {% elsif page.url ==
"/" %} {% include nav.html %}
<div class="intro">{% include intro.html %}</div>
{% else %} {% include nav.html %} {% endif %}
