<div class="intro-content">
  <article>
    I am a German citizen living in Munich, currently working as a Software
    Engineer at Lyft, specializing in backend development and machine learning.
    I have been working on creating Python and GraphQL based internal tools,
    I've improved debugging processes for ETA and routing issues by 72%.
    <br />
    <br />
    Before Lyft, I worked as a Junior Data Scientist at Lidl, where I leveraged
    advanced NLP and image recognition techniques to optimize product similarity
    detection, reducing search times by 30%.
    <br />
    <br />
    I hold a Master’s degree in Computer Science from Freie Universität Berlin
    (GPA 1.4), with expertise in machine learning, Python, Flask, and SQL. I
    also learned frontend (JavaScript, jQuery) by myself during study and work.
    <br />
    <br />
    In my spare time. I continue to sharpen my skills through Coursera
    certifications in different fields like frontend and machine learning.
    <ul>
      <li>
        <a
          class="certificate"
          target="_blank"
          href="https://coursera.org/share/4a1790cdda50b24127b85993662729f0"
          >Meta Front-End Developer</a
        >
      </li>
      <li>
        <a
          class="certificate"
          target="_blank"
          href="https://coursera.org/share/6fa71911b14d15b5030b2c898e2a71ba"
          >Visual Elements of User Interface Design</a
        >
      </li>
      <li>
        <a
          class="certificate"
          target="_blank"
          href="https://coursera.org/share/e5c5d1ed289c07e9076e3de322d35b84"
          >End-to-End Machine Learning with TensorFlow on Google Cloud</a
        >
      </li>
    </ul>
  </article>
</div>
