<nav class="parent">
  <div class="name-link">
    <a class="nav-link" href="{{ site.baseurl }}/">{{ site.name }}</a>
  </div>
  <div class="home-link">
    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
  </div>
  <div class="cateory-link">
    <a class="nav-link" href="{{ site.baseurl }}/category">Browse By Topic</a>
  </div>
  <div class="about-link">
    <a
      class="nav-link"
      target="_blank"
      href="https://dot-bluebell-04d.notion.site/Journeys-Through-the-Lens-108cfaa2633780e89be7fb320fe56a8d?pvs=4"
      >Journeys Through the Lens</a
    >
  </div>
</nav>
